In [1]:
import pandas as pd

In [2]:
csv = pd.read_csv('bouts_out_new.csv')

In [3]:
csv.shape

(387427, 26)

In [4]:
csv.head(4)

,age_A,age_B,height_A,height_B,reach_A,reach_B,stance_A,stance_B,weight_A,weight_B,...,kos_A,kos_B,result,decision,judge1_A,judge1_B,judge2_A,judge2_B,judge3_A,judge3_B
0,35.0,27.0,179.0,175.0,178.0,179.0,orthodox,orthodox,160.0,160.0,...,33,34.0,draw,SD,110.0,118.0,115.0,113.0,114.0,114.0
1,26.0,31.0,175.0,185.0,179.0,185.0,orthodox,orthodox,164.0,164.0,...,34,32.0,win_A,UD,120.0,108.0,120.0,108.0,120.0,108.0
2,28.0,26.0,176.0,175.0,NaN,179.0,orthodox,orthodox,154.0,154.0,...,13,33.0,win_B,KO,NaN,NaN,NaN,NaN,NaN,NaN
3,25.0,29.0,175.0,174.0,179.0,180.0,orthodox,orthodox,155.0,155.0,...,32,19.0,win_A,KO,47.0,48.0,49.0,46.0,48.0,47.0

In [5]:
csv.stance_A.uniqu()

AttributeError: 'Series' object has no attribute 'uniqu'

In [6]:
csv.stance_A.unique()

array(['orthodox', 'southpaw', nan], dtype=object)

In [7]:
csv.decision.unique()

array(['SD', 'UD', 'KO', 'TKO', 'MD', 'RTD', 'TD', 'PTS', 'DQ', 'NWS'],
      dtype=object)